body {
  letter-spacing: 0.5px;
  font-family: Apercu, Gill Sans, sans-serif;
  width: 97%;
  margin: auto;
  background-color: #e6e6fa;
}

/* Main Container */

#Main-section {
  margin-top: 5%;
  margin-bottom: 4%;
}
#Main-section > div {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.Description_Main > h1 {
  font-size: 40px;
}

.Description_Main > h3 {
  font-size: 25px;
  color: rgba(15, 15, 15, 0.663);
}

.Main-des {
  width: 50%;
  display: flex;
  margin-top: 3%;
}

#add_to_cart {
  padding: 8px 60px;
  color: white;
  background-color: black;
}

.Main-Img > img {
  width: 100%;
}

#quan {
  width: 8%;
  padding: 8px 0;
  text-align: center;
}

#Quan-Inc > span > button {
  padding: 8px 14px;
  font-size: 12px;
}

/* Special Section */
#special-section {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 8%;
}
.heading > p {
  font-size: 12px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.912);
}

#special-des {
  width: 45%;
  margin-left: 20%;
}

#special-des > .text {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.803);
  font-size: 15px;
}

#special-des > .text > p {
  margin: 4% 0;
}

.Special-Img {
  display: flex;
  gap: 50px;
  margin-top: 6%;
  margin-bottom: 8%;
}

.Special-Img img {
  width: 100%;
  height: 400px;
}

/* Ingridient */

#Ingridient {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 6%;
  margin-bottom: 6%;
}

.text > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.text > div > p:first-child {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.789);
}

#Ingridient-des {
  width: 60%;
  margin-left: 20%;
}

#Ingridient-des > .text {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.803);
  font-size: 15px;
}

#myVideo {
  width: 120%;
}

.glamour > img {
  width: 150px;
  height: 150px;
  margin-top: 0;
  padding-top: 0;
}

#Award {
  width: 45%;
  margin-left: 26%;
}

/* Add cart */
#container {
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

/* Image */
.img-product-details {
  width: 100%;
  cursor: pointer;
}

.Name-Price-details {
  display: flex;
  justify-content: space-between;
}

.pName-details {
  margin-bottom: 0;
  font-size: 15px;
}

.pPrice-details {
  margin-bottom: 0;
  font-size: 15px;
}

.description-details {
  font-size: 14px;
  margin-top: 8px;
  color: rgba(46, 46, 46, 0.623);
}

.Add-btn-details {
  width: 100%;
  padding: 3% 0;
  border-top: none;
  border-left: none;
  cursor: pointer;
}

#main-conta {
  margin-left: 25%;
}
/* ---------- */

/* ------------580px-------------- */

@media screen and (max-width: 580px) {
 
  #Main-section > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
  .Main-Img > img {
    width: 80%;
    margin: auto;
  }

  .Description_Main > h1 {
    font-size: 25px;
  }

  .Main-des {
    width: 100%;
    display: flex;
    margin-top: 3%;
  }
  .Description_Main > h3 {
    font-size: 18px;
    color: rgba(15, 15, 15, 0.663);
  }

  #Quan-Inc {
    display: flex;
  }

  #add_to_cart {
    padding: 4px 50px;
    color: white;
    background-color: black;
  }

  #Quan-Inc > span > button {
    padding: 8px 14px;
    font-size: 12px;
  }
  .Description_Main > h3 ~ p {
    font-size: 15px;
    color: rgba(15, 15, 15, 0.663);
  }
  #special-des > .text {
    
    color: rgba(0, 0, 0, 0.803);
    font-size: 10px;
  }

  #special-section {
    display: block;
  }
  #special-des {
    width: 100%;
    margin-left: 4%;
  }

  #Main{
    overflow: hidden;
  }
}
