body{
    margin: 0;
    padding: 0;
}
#hero{

    background: url("https://fashionista.com/.image/t_share/MTg4ODk2MTA5NDYzMjE3Njk2/olivia-rodrigo-glossier-campaign-8.png");

    background-size:cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: fixed;
    
    
}
.content{
    color: red;
    margin-top: 100px;
    margin-left: 50px;
    
}
h1{
    display: flex;
}
