body {
  letter-spacing: 0.5px;
  font-family: Apercu, Gill Sans, sans-serif;
  width: 97%;
  margin: auto;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

/* Image */
.img-product {
  width: 100%;
  cursor: pointer;
}

.Name-Price {
  display: flex;
  justify-content: space-between;
}

.pName {
  margin-bottom: 0;
  font-size: 15px;
}

.pPrice {
  margin-bottom: 0;
  font-size: 15px;
}

.description {
  font-size: 14px;
  margin-top: 8px;
  color: rgba(46, 46, 46, 0.623);
}

.Add-btn {
  width: 100%;
  padding: 3% 0;
  border-top: none;
  border-left: none;
  cursor: pointer;
}


#sort_filter {
  margin-bottom: 1.5%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.245);
}
#sort_filter > #filter > p {
  cursor: pointer;
  font-size: 90%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
}

#sort_filter > #filter > p:hover {
  background-color: black;
  color: white;
}

#filter {
  display: flex;
  gap: 13px;
}

#sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

#filter_product,
#sort_product {
  padding: 6px 15px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.726);
}

